




/* Google Fonts 
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Raleway', sans-serif;
*/


/* --------------------- Standard Styles ------------------- */

/* box-sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: underline;
  color: #404143;
  font-weight: 700;
}
h1 {
  font-size: 70px;
  line-height: 75px;
  margin: 0;
}
/* ============ Hero =============== */
.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}
.hero .back {
  width: 100%;
  height: 100vh;
  background-color: #404143;
}
.hero .title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #7765e3;
  text-shadow: 0px 0px 8px #404143;
}
.hero #angle {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #7765e3;
  transform-origin: top left;
}
.hero .scroll {
  display: none;
}

@media (min-width: 1025px) {
  .hero .title {
    font-size: 70px;
    line-height: 75px;
  }
  .hero .scroll {
    z-index: 2;
    display: block;
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 18px;
    line-height: 25px;
  }
}

/* ============ GAllery =============== */
.gallery-title {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
  color: #404143;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (min-width: 1025px) {
  .gallery-title {
    display: none;
  }
}

/* ============ Project 1 =============== */
.project {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}
.project .inner {
  padding: 80px 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
#project-1 {
  margin-bottom: 100px;
}
#project-1 .mobile {
  display: block;
  position: relative;
  background-color: #7765e3;
  overflow: hidden;
  text-decoration: none;
}
#project-1 .mobile .overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(64, 65, 67, 0.9);
  transition: 0.3s top;
}
#project-1 .mobile:hover .overlay {
  top: 0;
  transition: 0.3s top;
}
#project-1 .description {
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

#project-1 .container {
  display: none;
}


@media (min-width: 1025px) {
  #anim-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .project, .hero {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hero {
    background-color: gold;
  }
 
  .project#project-1 {
    z-index: 3;
    background-color: #404143;
  }
  .project {
    max-width: none;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition: 1s transform ease-in-out;
  }
  .project.active {
    transform: translateX(0);
    transition: 1s transform ease-in-out;
  }
  .first-transition.active {
    transform: translateX(0);
    transition: 1s transform ease-in-out 0.5s;
  }
  #project-1 .mobile {
    display: none;
  }

  #project-1 .container {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    color: white;
  }
  #project-1 .left {
    margin-right: 100px;
    color: white;
  }
  #project-1 .left .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  #project-1 .left p {
    font-size: 20px;
    line-height: 25px;
  }
  #project-1 .right {
    flex: 0 1 640px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.75);
    transition: 0.3s box-shadow;
  }
  #project-1 .right:hover {
    box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.75);
    transition: 0.3s box-shadow;
  }
  #project-1 .container .right img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

.project#project-2 {
  z-index: 4;
  margin: 0;
  width: 100%;
  max-width: none;
  display: flex;
  justify-content: space-between;
  background-color: #7765e3;
}
#project-2 {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}


@media (min-width: 1025px) {
  .project#project-2 {
    justify-content: center;
  }
  #project-2 .social {
    margin-right: 40px;
    
  }
}